body {
    background-color:black;
    font-family: helvetica, sans-serif;
    color:#FF0033;
    margin: 0 auto;
    
} 

a {
    text-decoration: none;
    color: white;
     margin: 0 auto;
}

p1 {
      margin: 0 auto;
      font-size: 15px;
}

p2 {
    color:#FF9933;
     margin: 0 auto;
     font-size: 15px;
    
}


p3 {
    color:#FFFFFF;
    font: helvetica, sans-serif;
     margin: 0 auto;
}

h1 {
    color:#FF0000;
    font-size:170px;
    font-weight:lighter;
     margin: 0 auto;
     background-color:;
    
}

p1:hover {
    text-decoration: underline;
    
 }
 
