body {
    background: #606060;
    text-decoration: none;
    margin: none;
    color: white;
}

a{
    text-decoration: none;
    }

a:hover{
    color:red;
    text-decoration: none;
}


@-webkit-keyframes spaceboots {
0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
100% { -webkit-transform: translate(1px, -2px) rotate(-1deg);
}
}

.wiggle:hover,

.wiggle:focus {
-webkit-animation-name: spaceboots;
-webkit-animation-duration: 0.8s;
-webkit-transform-origin:50% 50%;
-webkit-animation-iteration-count: infinite;
-webkit-animation-timing-function: linear;
color: red;
text-decoration: none;
}

.box1 {
    margin-left:80%;
    height:11%;
    width:18%;
    font-size: 70px;
    text-decoration: none;
    color: white;
   
}

.box2 {
    margin-left: 30%;
    height:18%;
    width:20%;
    font-size: 110px;
    text-decoration: none;
    color: white;
}

.box3 {
    margin-left: 70%;
    height:13%;
    width:11%;
    font-size: 50px;
    text-decoration: none;
    color: white;
}

.box4 {
    margin-left: 45%;
    height:11%;
    width:13%;
    font-size: 50px;
    text-decoration: none;
    color: white;
}

.box5 {
    margin-left: 90%;
    height:12%;
    width:12%;
    font-size: 70px;
    text-decoration: none;
    color: white;
}

.box6 {
    margin-left: 60%;
    height:12%;
    width:13%;
    font-size: 50px;
    color: white;
}

.box7 {
    margin-left: 35%;
    height:13%;
    width:10%;
    font-size: 50px;
    color: white;
}

.box8 {
    margin-left: 80%;
    height:10%;
    width:10%;
    font-size: 50px;
    color: white;
}










