body {
     margin: 0;
     padding: 0;
    
}

.page {
    width:1270px;
}
.letter {
    display: inline block;
    margin: 5px 5px 5px 5px;
}
.number {
    display: inline-block;
    margin: 5px 5px 5px 5px;
}

a:link {
    text-decoration: none;
}

.all {
    background-color: #00CCCC;
    margin: 0px;
}

.all1 {
    background-color: #00CCCC;
    width:510px;
    height: 500;
    margin: 0 auto;
    margin-top: 80px;
    padding-top: 40px;
    padding-left: 30px;
}

.a {
    margin-left: 40px;
}

.a-left {
    margin-left: 20px;
    background-color: black;
    height: 57px;
    width: 5px;
    display: inline-block;
    transform: rotate(40deg);
    margin-bottom: -3px;
    
}

.a-right {
    margin-left: 5px;
    background-color: black;
    height: 46px;
    width: 5px;
    display: inline-block;
    transform: rotate(10deg);
}

.a-horizontal {
    background-color: black;
    height: 18px;
    width: 5px;
    transform: rotate(90deg);
    margin-left: 22px;
    margin-top: -29px;
    
}

.letter {
    display: inline-block;
    margin: 0 15px 30px 0;
}
.l {
    margin-left: 20px;
    margin-bottom: -10px;
}
.l-verticle {
    margin-top: 20px;
    margin-left: 0px;
    background-color: black;
    height: 50px;
    width: 5px;
    display: inline-block;
    transform: rotate(10deg);
}

.l-horizontal {
    background-color: black;
    height: 30px;
    width: 5px;
    transform: rotate(90deg);
    margin-left: 9px;
    margin-top: -17px;
}
.s1{
    margin-left: 30px;
}

.s2 {
    margin-left: 13px;
}
.s-top {
    margin-top: -23px;
    width: 18px;
	height: 18px;
	border: solid black 5px;
	-moz-border-radius : 50px;
	-webkit-border-radius: 15px;
	border-radius: 100px;
	margin-left: 0x;
	position: absolute;
}

.s-bottom {
    width: 19px;
	height: 19px;
	border: solid black 5px;
	-moz-border-radius : 50px;
	-webkit-border-radius: 15px;
	border-radius: 100px;
	margin-left: -4px;
	position: absolute;
	display: inline-block;
}

.s-block1 {
    width: 25px;
    height: 10px;
    background-color: #00CCCC;
    position: absolute;
    margin-left: 10px;
    margin-top: -6px;
    transform: rotate(28deg);
    -ms-transform: rotate(28deg); 
    -webkit-transform: rotate(28deg);
}

.s-block2 {
    width: 25px;
    height: 10px;
    background-color: #00CCCC;
    position: absolute;
    margin-left: -12px;
    margin-top: 0px;
    transform: rotate(30deg);
    -ms-transform: rotate(30deg); 
    -webkit-transform: rotate(30deg);
}
.t {
    margin-left: 30px;
}

.t2 {
    margin-left: -20px;
    display: inline-block;
    position:absolute;
}
.t-vertical {
    margin-left: 15px;
    background-color: black;
    height: 50px;
    width: 5px;
    display: inline-block;
    transform: rotate(10deg);
}

.t-horizontal {
    background-color: black;
    height: 30px;
    width: 5px;
    transform: rotate(90deg);
    margin-left: 18px;
    margin-top: -64px;
}

.r-line {
    margin-top: 10px;
    margin-left: 20px;
    background-color: black;
    height: 50px;
    width: 5px;
    display: inline-block;
    transform: rotate(10deg);
}

.r-circle {
    width: 22px;
	height: 22px;
	border: solid black 5px;
	-moz-border-radius : 50px;
	-webkit-border-radius: 15px;
	border-radius: 100px;
	margin-top: -53px;
	margin-left: 16px;
	position: absolute;
}

.r-diagonal {
    margin-top: -25px;
    margin-left: 30px;
    background-color: black;
    height: 35px;
    width: 5px;
    display: inline-block;
    transform: rotate(150deg);
    position: absolute;
}

.five-circle {
    width: 21px;
	height: 21px;
	border: solid black 5px;
	-moz-border-radius : 50px;
	-webkit-border-radius: 15px;
	border-radius: 100px;
	margin-top: 0px;
	margin-left: 5.5px;
	position: absolute; 
	display: inline-block;
}

.five-vertical {
    margin-left: 15px;
    background-color: black;
    height: 20px;
    width: 5px;
    margin-bottom: -10px;
    transform: rotate(10deg);
    margin-top: -15px;
    position: absolute;
}

.five-horizontal {
    margin-top: -25px;
    margin-left: 25px;
    background-color: black;
    height: 23px;
    width: 5px;
    transform: rotate(90deg);
}

.five-block {
    width: 15px;
    height: 30px;
    background-color: #00CCCC;
    margin-left: -3px;
    margin-top: -px;
    transform: rotate(10deg);
    -ms-transform: rotate(10deg); 
    -webkit-transform: rotate(10deg);
}
.seven {
    margin-left: -50px;
    margin-top: -20px;
}
.seven-diagonal {
    margin-top: 0px;
    margin-left: 20px;
    background-color: black;
    height: 50px;
    width: 5px;
    display: inline-block;
    transform: rotate(10deg);
}

.seven-horizontal {
    background-color: black;
    height: 25px;
    width: 5px;
    display: inline-block;
    transform: rotate(90deg);
    margin-bottom: 35px;
    margin-left: -20px;
}

.slash {
    margin-top: 0px;
    margin-left: 10px;
    background-color: black;
    height: 50px;
    width: 5px;
    display: inline-block;
    transform: rotate(20deg);
}

.two-diagonal{
    margin-left: 18px;
    background-color: black;
    height: 34px;
    width: 5px;
    display: inline-block;
    transform: rotate(45deg);
}

.two-horizontal {
    margin-bottom: -10px;
    margin-left: -8px;
    background-color: black;
    height: 30px;
    width: 5px;
    display: inline-block;
    transform: rotate(90deg);
}

.two-circle {
    width: 20px;
	height: 20px;
	border: solid black 5px;
	-moz-border-radius : 50px;
	-webkit-border-radius: 15px;
	border-radius: 100px;
	margin-top: -54px;
	margin-left: 5.5px;
	position: absolute; 
}

.two-block {
    width: 18px;
    height: 35px;
    background-color: #00CCCC;
    position: absolute;
    margin-left: 1px;
    margin-top: -45px;
    transform: rotate(28deg);
    -ms-transform: rotate(28deg); 
    -webkit-transform: rotate(45deg);
}

.two-blocktwo {
    width: 10px;
    height: 20px;
    background-color: #00CCCC;
    position: absolute;
    margin-left: 1px;
    margin-top: -45px;
    transform: rotate(28deg);
    -ms-transform: rotate(28deg); 
    -webkit-transform: rotate(90deg);
}

.zero {
    width: 35px;
	height: 39px;
	border: solid black 5px;
	-moz-border-radius : 50px;
	-webkit-border-radius: 15px;
	border-radius: 100px;
	margin-top: 0px;
	margin-left: 0px;
	display: inline-block;
}

.one-vertical {
    margin-top: 50px;
    margin-left: 0px;
    background-color: black;
    height: 50px;
    width: 5px;
    display: inline-block;
    transform: rotate(10deg);
}

.one-diagonal {
    margin-bottom: 30px;
    margin-left: -12px;
    background-color: black;
    height: 20px;
    width: 5px;
    display: inline-block;
    transform: rotate(40deg);
}

.h-left {
    margin-left: 0px;
    background-color: black;
    height: 50px;
    width: 5px;
    display: inline-block;
    transform: rotate(10deg);
}

.h-right {
    margin-left: 20px;
    background-color: black;
    height: 50px;
    width: 5px;
    display: inline-block;
    transform: rotate(10deg);
}

.h-horizontal {
    background-color: black;
    height: 30px;
    width: 5px;
    transform: rotate(90deg);
    margin-left: 15px;
    margin-top: -45px;
}

.e-bigline {
    margin-left: 0px;
    background-color: black;
    height: 50px;
    width: 5px;
    display: inline-block;
    transform: rotate(10deg);
    margin-top:20px;
}

.e-top {
    background-color: black;
    height: 30px;
    width: 5px;
    transform: rotate(90deg);
    margin-left: 16px;
    margin-top: -63px;
}

.e-middle {
    background-color: black;
    height: 15px;
    width: 5px;
    transform: rotate(90deg);
    margin-left: 9px;
    margin-top: 1px;
}

.e-bottom {
    background-color: black;
    height: 30px;
    width: 5px;
    transform: rotate(90deg);
    margin-left: 9px;
    margin-top: 0px;
}

.n-first {
    margin-top: 20px;
    margin-left: 20px;
    background-color: black;
    height: 50px;
    width: 5px;
    display: inline-block;
    transform: rotate(10deg);
}

.n-second {
    margin-top: 20px;
    margin-left: 0px;
    background-color: black;
    height: 50px;
    width: 5px;
    display: inline-block;
    transform: rotate(167deg);
}

.n-third {
    margin-top: 20px;
    margin-left: 2px;
    background-color: black;
    height: 50px;
    width: 5px;
    display: inline-block;
    transform: rotate(10deg);
}

.i {
    margin-top: 30px;
    margin-left: 20px;
    background-color: black;
    height: 50px;
    width: 5px;
    display: inline-block;
    transform: rotate(10deg);
}

.i-top {
    background-color: black;
    height: 30px;
    width: 5px;
    transform: rotate(90deg);
    margin-left: 25px;
    margin-top: -63px;
}

.i-bottom {
    background-color: black;
    height: 30px;
    width: 5px;
    transform: rotate(90deg);
    margin-left: 17px;
    margin-top: 16px;
}
.o1 {
    margin-left: -10px;
}
.o {
    width: 43px;
	height: 43px;
	border: solid black 5px;
	-moz-border-radius : 50px;
	-webkit-border-radius: 15px;
	border-radius: 100px;
	margin-left: -10px;
	position: absolute;
	transform: rotate(10deg);
	display: inline-block;
	margin-top: -20px;
}
.p {
    margin-left: 40px;
}
.p-line {
    margin-top: 70px;
    margin-left: 10px;
    background-color: black;
    height: 50px;
    width: 5px;
    display: inline-block;
    transform: rotate(10deg);
}

.p-circle {
    width: 23px;
	height: 23px;
	border: solid black 5px;
	-moz-border-radius : 50px;
	-webkit-border-radius: 15px;
	border-radius: 100px;
	margin-top: -51px;
	margin-left: 7px;
	position: absolute;
}

.y-right {
    margin-top: 5px;
    margin-left:0px;
    background-color: black;
    height: 55px;
    width: 5px;
    display: inline-block;
    transform: rotate(30deg);
}

.y-left {
    margin-bottom: 20px;
    margin-left: 20px;
    background-color: black;
    height: 31px;
    width: 5px;
    display: inline-block;
    transform: rotate(160deg);
}

.j-verticle {
    margin-top: 10px;
    margin-left: 30px;
    background-color: black;
    height: 45px;
    width: 5px;
    display: inline-block;
    transform: rotate(10deg);
}

.j-horizontal {
    background-color: black;
    height: 30px;
    width: 5px;
    transform: rotate(90deg);
    margin-left: 32px;
    margin-top: -61px;
}

.j-circle {
    width: 20px;
	height: 20px;
	border: solid black 5px;
	-moz-border-radius : 50px;
	-webkit-border-radius: 15px;
	border-radius: 100px;
	margin-top: 6px;
	margin-left: 3px;
	position: absolute;
}

.j-block {
    width: 28px;
    height: 20px;
    background-color: #00CCCC;
    position: absolute;
    margin-left: 2px;
    transform: rotate(10deg);
    -ms-transform: rotate(10deg); 
    -webkit-transform: rotate(10deg);
}

.u-left {
    margin-bottom: 5px;
    margin-left: 10px;
    background-color: black;
    height: 45px;
    width: 5px;
    display: inline-block;
    transform: rotate(10deg);
}

.u-right {
    margin-bottom: 5px;
    margin-left: 22px;
    background-color: black;
    height: 45px;
    width: 5px;
    display: inline-block;
    transform: rotate(10deg);
}

.u-circle {
    width: 25px;
	height: 25px;
	border: solid black 5px;
	-moz-border-radius : 50px;
	-webkit-border-radius: 15px;
	border-radius: 100px;
	margin-left: 8px;
	position: absolute;
	margin-top: -35px;
	display: inline-block;
}

.u-block {
    width: 25px;
    height: 26px;
    background-color: #00CCCC;
    position: absolute;
    margin-left: 15px;
    margin-top: -40px;
    transform: rotate(8deg);
    -ms-transform: rotate(8deg); 
    -webkit-transform: rotate(8deg);
}

.u-block2 {
    width: 15px;
    height: 26px;
    background-color: #00CCCC;
    position: absolute;
    margin-left: -3.5px;
    margin-top: -15px;
    transform: rotate(140deg);
    -ms-transform: rotate(160deg); 
    -webkit-transform: rotate(160deg);
}

.m-first {
    margin-top: 20px;
    margin-left: 20px;
    background-color: black;
    height: 50px;
    width: 5px;
    display: inline-block;
    transform: rotate(10deg);
}

.m-second {
    margin-top: 20px;
    margin-left: 0px;
    background-color: black;
    height: 50px;
    width: 5px;
    display: inline-block;
    transform: rotate(177deg);
}

.m-third {
    margin-top: 20px;
    margin-left: 0px;
    background-color: black;
    height: 50px;
    width: 5px;
    display: inline-block;
    transform: rotate(10deg);
}

.m-fourth {
    margin-top : -55px;
    margin-left: 0px;
    background-color: black;
    height: 50px;
    width: 5px;
    display: inline-block;
    transform: rotate(177deg);
}

.d-line {
    margin-left: -6px;
    background-color: black;
    height: 50px;
    width: 5px;
    display: inline-block;
    transform: rotate(10deg);
    margin-top:50px;
}

.d-circle {
    width: 45px;
	height: 45px;
	border: solid black 5px;
	-moz-border-radius : 50px;
	-webkit-border-radius: 15px;
	border-radius: 100px;
	margin-left: -14px;
	position: absolute;
	transform: rotate(10deg);
	margin-top: -51px;
	display: inline-block;
}

.period {
    width: 8px;
	height: 8px;
	background: black;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	display: inline-block;
}

.h-left {
    margin-left: 15px;
    background-color: black;
    height: 50px;
    width: 5px;
    display: inline-block;
    transform: rotate(10deg);
}

.h-right {
    margin-left: 20px;
    background-color: black;
    height: 50px;
    width: 5px;
    display: inline-block;
    transform: rotate(10deg);
}

.h-horizontal {
    background-color: black;
    height: 30px;
    width: 5px;
    transform: rotate(90deg);
    margin-left: 28px;
    margin-top: -45px;
}

.c {
    width: 43px;
	height: 43px;
	border: solid black 5px;
	-moz-border-radius : 50px;
	-webkit-border-radius: 15px;
	border-radius: 100px;
	margin-left: 10px;
	transform: rotate(10deg);
	display: inline-block;
}

.c-block {
    width: 25px;
    height: 70px;
    background-color: #00CCCC;
    position: absolute;
    transform: rotate(10deg);
    -ms-transform: rotate(10deg); 
    -webkit-transform: rotate(10deg);
    margin-left: 39px;
    margin-top: -60px;
    display: inline-block;
}

.g-circle {
    width: 46px;
	height: 46px;
	border: solid black 5px;
	-moz-border-radius : 50px;
	-webkit-border-radius: 15px;
	border-radius: 100px;
	margin-left: 6px;
	position: absolute;
	transform: rotate(10deg);
	display: inline-block;
}

.g-block {
    width: 25px;
    height: 70px;
    background-color: #00CCCC;
    position: absolute;
    transform: rotate(10deg);
    -ms-transform: rotate(10deg); 
    -webkit-transform: rotate(10deg);
    margin-left: 46px;
    
}

.g-line {
    margin-left: 30px;
    background-color: black;
    height: 20px;
    width: 5px;
    display: inline-block;
    margin-bottom: -10px;
    transform: rotate(10deg);
    margin-top: 40px;
}

.f-bigline {
    margin-left: 10px;
    background-color: black;
    height: 50px;
    width: 5px;
    display: inline-block;
    transform: rotate(10deg);
    margin-top: 10px;
}

.f-top {
    background-color: black;
    height: 30px;
    width: 5px;
    transform: rotate(90deg);
    margin-left: 27px;
    margin-top: -63px;
}

.f-middle {
    background-color: black;
    height: 15px;
    width: 5px;
    transform: rotate(90deg);
    margin-left: 18px;
    margin-top: 1px;
}

.f {
    margin-left: 35px;
}

.w-one {
    margin-top: 0px;
    margin-left: 20px;
    background-color: black;
    height: 50px;
    width: 5px;
    display: inline-block;
    transform: rotate(10deg);
}

.w-two {
    margin-top: 65px;
    margin-left: px;
    background-color: black;
    height: 50px;
    width: 5px;
    display: inline-block;
    transform: rotate(30deg);
}

.w-three {
    margin-top: 70px;
    margin-left: 0px;
    background-color: black;
    height: 50px;
    width: 5px;
    display: inline-block;
    transform: rotate(10deg);
}

.w-four {
    margin-top: 65px;
    margin-left: 0px;
    background-color: black;
    height: 50px;
    width: 5px;
    display: inline-block;
    transform: rotate(30deg);
}

.w {
    margin-left: 30px;
}

.dot {
    margin-left: 20px;
}