body {
    font: white;
    background-color:#CC66FF;
    font-family: helvetica, sans-serif;
    
}
p1 {
    color: #FFFFFF;
    font-family: helvetica, sans-serif;
    font-size:18px;
    font-weight: medium;
}

p2 {
    font-size: 30px;
}

p2:hover {
    text-decoration: bolder;
    color: #FFFF33;
}

p1:hover {
    text-decoration: lighter;
    color:#CCFFCC;
}

p:hover {
    text-emphasis: bold;
    color:#FF0066;
}

