
/*.box1 {
    background-color: #0066FF;
    width:100%;
    padding: 30px 0 30px 0;
    color:white;
    text-align: center;
    font-family: helvetica, sans-serif;
    font-weight:bold;
    font-size:38px;
}
*/
a { text-decoration: none; }

.box2 {
    background-color: #6633FF;
    width: 100%;
    padding: 30px 0 30px 0;
    color:white;
    text-align:center;
    font-family: helvetica, sans-serif;
    font-weight:lighter;
    font-size:38px;
    
    
}

.box3 {
    background-color: #9933CC;
    padding: 30px 0 30px 0;
    width: 100%;
    color:white;
    text-align:center;
    font-family: helvetica, sans-serif;
    font-weight:lighter;
    font-size:38px;
}

.box4 {
    background-color: #CC00FF;
    padding: 30px 0 30px 0;
    width: 100%;
    color:white;
    text-align:center;
    font-family: helvetica, sans-serif;
    font-weight:lighter;
    font-size:38px;
}

.box5 {
    background-color: #FF3399;
    padding: 30px 0 30px 0;
    width: 100%;
    color:white;
    text-align: center;
    font-family: helvetica, sans-serif;
    font-weight:lighter;
    font-size:38px;
}

.box6 {
    background-color: #FF0066;
    padding: 30px 0 30px 0;
    width: 100%;
    color:white;
    text-align: center;
    font-family: helvetica, sans-serif;
    font-weight:lighter;
    font-size:38px;
}
